doctype html
html
    head
        include gtag.html
        meta(charset='UTF-8')
        style.
            body{background-color: SteelBlue;color: #fff;}
        title about skyred.cloud
    body
        p about skyred.cloud
        img(src='skyredcloud.jpg')
